body {
    font-family: 'Roboto', sans-serif;
}

#links-bar-large,
#links-bar-mobile {
    background-color: #94c7eb;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 14px;
}
#links-bar-large a,
#links-bar-mobile a,
#navbar-large a,
#navbar-mobile a {
    text-decoration: none;
    color: black;
}
#links-bar-large a:hover,
#links-bar-mobile a:hover,
#navbar-large a:hover,
#navbar-mobile a:hover {
    text-decoration: none;
    color: #ff7d95;
}
#navbar-large .active-link,
#navbar-mobile .active-link {
    color: #ff7d95 !important;
}

#navbar-large,
#navbar-mobile {
    background-color: white;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 16px;
}

#navbar-large .dropdown-menu,
#navbar-mobile .dropdown-menu {
    border-top: 2px solid #ff7d95;
}

.search-dropdown{
background: white;
margin:10px 5px;
padding:2px;
border:0;
max-width: 5%;
color: black;
}

#navbar-large .wishlist,
#navbar-mobile .wishlist
#navbar-large .shopping-cart,
#navbar-mobile .shopping-cart {
    text-align: center;
    padding: 2px;
    margin: 10px 5px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
  /* google z-index css */
  -webkit-transition: ease-in;
  transition: ease-in;
}

.slider-item {
position: relative;
height: 700px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.item-caption {
    background-color:rgba(159, 203, 221, 0.473);
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 15px;
    height: 40%;
    width: 40%;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.slider-button{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: #94c7eb;
    border-radius: 10px;
    border: 1px solid #94c7eb;
    box-shadow: 1px 2px #242424;
}
.slider-button:hover {
    border: 1px solid #ff7d95;
    background-color: #ff7d95
}

@media only screen and (max-width: 1024px){
    .item-caption {
        font-size: 2rem;
        height: 50%;
        padding: 10px
    }
    .slider-item{
        height: 350px;
    }
    .slider-button{
        font-size: 10px;
    }
}
@media only screen and (max-width: 416px){
    .item-caption {
        font-size: 1rem;
        height: 50%;
        padding: 10px
    }
    .slider-item{
    height: 200px;
    }
    .slider-button{
        font-size: 8px;
        padding: 2.5px 5px;
    }
}

.offer-showcase{
    display: flex;
    margin: 0 10px;
    overflow: hidden
}

.offer-item{
    width: 33%;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}
.banner {
    padding:0;
    overflow: hidden;
    width: 100%;
    height: 311px;
    z-index: -1;
}

.banner:hover {
    transform: scale(1.1);
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-shadow: gray;
}
.banner-text a{
    text-decoration: underline;
    color: black;
    font-size: 24px;
}
.banner-text a:hover{
    color: #ff7d95
}

@media only screen and (max-width: 1024px){
    .offer-item,
    .banner{
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
    }
    .banner-text,
    .banner-text a{
        top: 30%;
        left: 20%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 416px){
    .offer-showcase{
        flex-direction: column;
    }
    .offer-item,
    .banner{
        margin-bottom: 5px;
        width: 100%;
    }
    .banner-text,
    .banner-text a{
        font-size: 14px;
        top: 40%
    }
}

.featured-header{
    padding-top: 20px;
    margin: 50px 10px;
    text-align: center;
}
.featured-header h5{
    font-weight: 800;
    font-size: 32px;
}
.featured-header p{
    font-size: 16px
}

.featured{
    margin: 10px 150px;
    display:flex;
    height: 320px;
}
.featured-item{
    width: 25%;
    height: 100px;
    position: relative;
}
.p-2{
    height: 300px;
    width: 240px;
    background-size: cover;
}
.featured-buttons{
    opacity: 0;
    display: flex;
    background-image: rgba(159, 203, 221, 0.473);
    position: absolute;
    top: 160%;
    left: 30%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 60%;
    align-items: center;
    font-size: 10px;
    transition: all 0.2s ease
}
.featured-buttons h3{
    font-size: 25px;
    color: #ff7d95;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
.featured-buttons button{
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 13;
    font-weight: 400;
    background-color: #94c7eb;
    border: 1px solid #94c7eb;
    box-shadow: 1px 2px #242424;
    width: 60%;
}
.featured-buttons button:hover{
    border: 1px solid #ff7d95;
    background-color: #ff7d95
}
.featured-description{
    padding-top: 250px
}
.active-button{
    opacity: 1
}