body {
    font-family: 'Roboto', sans-serif;
}

#links-bar-large,
#links-bar-mobile {
    background-color: #94c7eb;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 14px;
}
#links-bar-large a,
#links-bar-mobile a,
#navbar-large a,
#navbar-mobile a {
    text-decoration: none;
    color: black;
}
#links-bar-large a:hover,
#links-bar-mobile a:hover,
#navbar-large a:hover,
#navbar-mobile a:hover {
    text-decoration: none;
    color: #ff7d95;
}
#navbar-large .active-link,
#navbar-mobile .active-link {
    color: #ff7d95 !important;
}

#navbar-large,
#navbar-mobile {
    background-color: white;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 16px;
}

#navbar-large .dropdown-menu,
#navbar-mobile .dropdown-menu {
    border-top: 2px solid #ff7d95;
}

.search-dropdown{
background: white;
margin:10px 5px;
padding:2px;
border:0;
max-width: 5%;
color: black;
}

#navbar-large .wishlist,
#navbar-mobile .wishlist
#navbar-large .shopping-cart,
#navbar-mobile .shopping-cart {
    text-align: center;
    padding: 2px;
    margin: 10px 5px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
  /* google z-index css */
  -webkit-transition: ease-in;
  transition: ease-in;
}

.slider-item {
position: relative;
height: 700px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.item-caption {
    background-color:rgba(159, 203, 221, 0.473);
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 40%;
    width: 40%;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@media only screen and (max-width: 1024px){
    .item-caption {
        font-size: 2rem;
        height: 30%;
        padding: 10px
    }
    .slider-item{
        height: 350px;
    }
}
@media only screen and (max-width: 416px){
    .item-caption {
        font-size: 1rem;
        height: 30%;
        padding: 10px
    }
    .slider-item{
    height: 200px;
    }
}


#current-offers{
    max-width: 100%;
    margin: 10px 10px;
    margin-bottom: 20px;
}

.showcase-item, 
.showcase-item h5{
    font-weight: 600;
    font-size: 30px;
    transition: transform .2s;
    text-shadow: 0.2px 0.5px rgb(0, 0, 0);
    border-radius: 0;
}
@media screen and (max-width:1024px){
    .showcase-item,
    .showcase-item h5 {
        font-size: 20px;
    }
}
.showcase-item a{
    text-decoration: underline;
    color: #343a40;
}
.showcase-item a:hover {
    color: #ff7d95;
}

.showcase-item:hover {
    transform: scale(1.1);
}

.featured-pricing {
    padding: 0;
    margin: 0;
    color: #ff7d95;
    font-size: 20px;
}

.featured-item-hover {
    background-color: rgba(107, 149, 179, 0.514);
}