body {
    font-family: 'Roboto', sans-serif;
}

#links-bar-large,
#links-bar-mobile {
    background-color: #94c7eb;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 14px;
}
#links-bar-large a,
#links-bar-mobile a,
#navbar-large a,
#navbar-mobile a {
    text-decoration: none;
    color: black;
}
#links-bar-large a:hover,
#links-bar-mobile a:hover,
#navbar-large a:hover,
#navbar-mobile a:hover {
    text-decoration: none;
    color: #ff7d95;
}
#navbar-large .active-link,
#navbar-mobile .active-link {
    color: #ff7d95 !important;
}

#navbar-large,
#navbar-mobile {
    background-color: white;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 16px;
}

#navbar-large .dropdown-menu,
#navbar-mobile .dropdown-menu {
    border-top: 2px solid #ff7d95;
}

.search-dropdown{
outline-width: 0;
background: white;
margin:10px 5px;
padding:2px;
border:0;
max-width: 5%;
color: black;
}

#navbar-large .wishlist,
#navbar-mobile .wishlist
#navbar-large .shopping-cart,
#navbar-mobile .shopping-cart {
    text-align: center;
    padding: 2px;
    margin: 10px 5px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
  /* google z-index css */
  -webkit-transition: ease-in;
  transition: ease-in;
}

.slider .slider-item {
font-family: 'Dosis', sans-serif;
position: relative;
height: 700px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.item-caption {
    background-color:rgba(159, 203, 221, 0.473);
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 15px;
    height: 40%;
    width: 40%;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.slider .slider-button{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: #94c7eb;
    border-radius: 10px;
    border: 1px solid #94c7eb;
    box-shadow: 1px 2px #242424;
}
.slider .slider-button:hover {
    border: 1px solid #ff7d95;
    background-color: #ff7d95
}

@media only screen and (max-width: 1024px){
    .item-caption {
        font-size: 2rem;
        height: 50%;
        padding: 10px
    }
    .slider .slider-item{
        height: 350px;
    }
    .slider .slider-button{
        font-size: 10px;
    }
}
@media only screen and (max-width: 416px){
    .item-caption {
        font-size: 1rem;
        height: 50%;
        padding: 10px
    }
    .slider .slider-item{
    height: 200px;
    }
    .slider .slider-button{
        font-size: 8px;
        padding: 2.5px 5px;
    }
}

.offer-showcase{
    display: flex;
    margin: 0 10px;
    overflow: hidden
}

.offer-item{
    width: 33%;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}
.banner {
    padding:0;
    overflow: hidden;
    width: 100%;
    height: 311px;
    z-index: -1;
}

.banner:hover {
    transform: scale(1.1);
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-shadow: gray;
}
.banner-text-left{
    top: 35%;
    left: 75%
}
.banner-text-center{
    left: 30%
}
.banner-text-right{
    left: 25%;
}
.banner-text a{
    text-decoration: underline;
    color: black;
    font-size: 24px;
}
.banner-text a:hover{
    color: #ff7d95
}

@media only screen and (max-width: 1024px){
    .offer-item,
    .banner{
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
    }
    .banner-text,
    .banner-text a{
        top: 30%;
        left: 20%;
        font-size: 12px;
    }
    .banner-text-left{
        left: 78%;
        font-size: 9px
    }
    .banner-text-center{
        left: 30%;
        top: 40%;
        font-size: 9px;
    }
    .banner-text-right{
        left: 25%;
        top: 40%;
        font-size: 9px;
    }
}

@media only screen and (max-width: 416px){
    .offer-showcase{
        flex-direction: column;
    }
    .offer-item,
    .banner{
        margin-bottom: 5px;
        width: 100%;
    }
    .banner-text,
    .banner-text a{
        font-size: 14px;
        top: 40%
    }
}

.featured-header{
    font-family: 'Dosis', sans-serif;
    padding-top: 20px;
    margin: 50px 10px;
    text-align: center;
}
.featured-header h5{
    font-weight: 800;
    font-size: 32px;
}
.featured-header p{
    font-size: 16px
}

.featured{
    margin: 10px 150px;
    display:flex;
    flex-wrap: wrap;
    height: 700px;
}
.featured-item{
    width: 25%;
    height: 100px;
    position: relative;
}
.p-2{
    margin: auto;
    height: 300px;
    width: 240px;
    background-size: cover;
}
.featured-buttons{
    opacity: 0;
    display: flex;
    background-image: rgba(159, 203, 221, 0.473);
    position: absolute;
    top: 150%;
    left: 52%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 60%;
    align-items: center;
    font-size: 10px;
    transition: all 0.2s ease
}
.featured-buttons h3{
    font-size: 25px;
    color: #ff7d95;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
.featured-buttons button{
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 13;
    font-weight: 400;
    background-color: #94c7eb;
    border: 1px solid #94c7eb;
    box-shadow: 1px 2px #242424;
    width: 60%;
}
.featured-buttons button:hover{
    border: 1px solid #ff7d95;
    background-color: #ff7d95
}
.featured-description{
    padding-top: 250px
}
.active-button{
    opacity: 1
}

@media only screen and (max-width: 1024px){
    .featured{
        margin: 70px 40px;
        height: 900px
    }
    .featured-item{
        width: 33%;
        height: 300px
    }
    .featured-buttons{
        top: 50%;
        left: 53%
    }
}

@media only screen and (max-width: 416px){
    .featured{
        margin: 10px auto;
        height: 2500px;
        flex-direction: row;
    }
    .featured-header{
        margin: 20px 10px
    }
    .featured-item{
        margin: 5px;
        padding: 5px;
        width: 100%;
        height: 300px
    }
}



.onsale-container{
    margin: 20px 160px;
    display:flex;
    flex-wrap: wrap;
}
.onsale-left,
.onsale-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.onsale-left{
    width: 35%
}
.onsale-right{
    width: 65%
}
.onsale-left-header,
.onsale-right-header{
    width: 100%;
    height: 82px;
}
.onsale-left-header h3,
.onsale-right-header h3{
    font-family: 'Dosis', sans-serif
}

.onsale-left-slider{
    width: 100%;
    height: 550px;
}
.left-slider-item{
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}
.onsale-right-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.onsale-grid-item{
    width: 25%;
    height: 225px;
    background-size: contain;
    background-repeat: no-repeat;
}
.blue-container{
    font-family: 'Dosis', sans-serif;
    background-color: #94c7eb;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 60px
}
.blue-container .col-12{
padding: 75px 20px;
}
.blue-container-icon {
   margin: 0 40px;
}
@media only screen and (max-width: 416px){
    .blue-container{
        height: 600px;
        margin-bottom: 40px
    }
    .blue-container .col-12{
        padding: 32px 10px
    }
    .blue-container-icon{
        margin: 0 20px
    }
}

.reviews-blog-section{
    padding: 80px 0;
}
.review-section,
.blog-section{
    margin-bottom: 60px;
}
.review-title{
    font-family: Dosis, sans-serif 
}
.review-author img{
    float: left;
    margin-right: 30px;
}
.review-author-name{
    font-family: 'Dosis', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.blog-section a{
text-decoration: none;
color: black
}
.blog-section a:hover{
    color: #ff7d95
}
.blog-title{
    font-family: 'Dosis', sans-serif
}
.blog-item{
    border-bottom: 1.5px solid #ff7d95;
}
.blog-item .date{
    float:left;
    font-family: 'Dosis', sans-serif;
    color: #ff7d95;
    font-weight: 600
}
.blog-item .date span{
    color: #94c7eb
}
.blog-content{
    font-size: 12px
}
.blog-content h4{
    font-size: 14px
}
.blog-section ul{
    list-style-type: none;
}
.blog-section ul li{
    float: left;
}

.partners-container{
    display:flex;
    flex-wrap: wrap;
    margin: 20px 150px
}
.partner-section{
    margin: 40px
}
@media only screen and (max-width: 416px){
    .partners-container{
        margin: 20px 0;
        flex-direction: row
    }
    .partners-section{
        width: 100%;
        margin: 0
    }
}
.footer-top-section{
    margin-top: 100px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.footer-top-section h4{
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #94c7eb;
    margin-bottom: 50px
}
.footer-top-section h5{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px
}
.footer-top-section a{
    text-decoration: none;
    color: black;
}
.footer-top-section a:hover{
    color: #ff7d95
}
.footer-top-section ul{
    list-style-type: none;
}
.footer-bottom-section{
    background-color: #94c7eb;
}
.footer-copyright{
    font-family: 'Dosis' sans-serif;
    padding-top: 25px
}

#newsletter-email{
border: 0;
border-bottom: 1px solid #94c7eb;
padding-right: 0;
margin-right: 0;
outline-width: 0;
}

#newsletter-submit{
    border: 0;
    border-bottom: 1px solid #94c7eb;
    padding-left: 0;
    margin-left: 0;
    outline-width: 0;
}

#scroll-top-button {
    height: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    background-color: #ff7d95;
    color: white;
    cursor: pointer;
    padding: 13px;
  }
  
  #scroll-top-button:hover {
    background-color: #94c7eb;
  }